.Navbar {
  height: 3em;
  display: flex;
  font-family: "Alegreya", serif;
  padding: 0.5em;
}

.Navbar-headline {
  display: inline-block;
  color: #7fbf7f;
  text-decoration: none;
  font-size: 2em;
}

.Navbar-links {
  display: inline-block;
  margin: 0;
  text-align: right;
  flex-grow: 1;
  padding: 0;
}

.Navbar-link {
  display: inline;
  margin-right: 0.5em;
}

.Navbar-link a {
  color: #7fbf7f;
  font-size: 1.5em;
  text-decoration: none;
}

.Navbar-link a:hover {
  text-decoration: underline;
}
