.aboutTitle {
  color: #dd5583;
  font-family: "Alegreya", serif;
  padding: 50px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: xx-large;
}

.aboutHeader {
  color: #dd5583;
  font-family: "Alegreya", serif;
  padding: 50px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: x-large;
}

.aboutParagraph {
  color: #dd5583;
  font-family: "Alegreya", serif;
  padding: 50px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
}
